body {
   background-image: linear-gradient(
      135deg,
      rgb(142, 156, 221),
      rgb(56, 56, 230)
   );
   height: 100vh;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
   width: 60%;
   margin: auto;
}

input {
   margin-top: 5rem;
   padding: 1rem;
   width: 100%;
   border: none;
   outline: none;
   font-size: 1.5rem;
   color: #444;
}

.autocomplete > div {
   cursor: pointer;
   width: 100%;
   background-color: #444;
   color: white;
   padding: 1rem;
   border-top: 2px solid #666;
}

.autocomplete > div:hover {
   background-color: rgb(72, 72, 207);
}
